{% extends "base.html" %}

{% block title %} j2a {% endblock %}

{% block header %}
<style>
    .container {
      height: 100%;
    }
    dialog {
      box-sizing: content-box;
    }

    .nes-radio {
        display: none;
        -webkit-appearance: radio!important;
        -moz-appearance: ratio!important;
        appearance: ratio!important;
    }

    .field label span {
        margin-left: 25px;
    }


    button.is-disabled {
      pointer-events: none!important;
    }

    .form .field {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      height: 52px;
    }

    menu.dialog-menu {
      padding-left: 0px;
      text-align: center;
    }


    .removefile {
      z-index: 100;
    }

    label.header {
      color: #f77702;
      max-width: 250px;
      width: 40%;
      text-align: right;
      padding-right: 16px;
    }

    #output {
      max-width: 100%;
      padding: 16px;
      border-radius: 5px;
      color: #404040;
      font-size: 16px;
      overflow: auto;
      line-height: 1.8;
    }

    #output.light {
      color: #404040;
    }
    
    #output.dark {
      color: #fff;
    }

    #output.width80 {
        font-size: 12px;
    }

    #output.width60 {
        font-size: 14px;
    }

    @media only screen and (max-width: 767px) {
      .nes-container {
        font-size: 12px;
        padding: 1.5rem 8px;
      }

      .ui.container {
        margin-left: .5em!important;
        margin-right: .5em!important;
      }

      label.header {
        padding-right: 8px;
      }

      #output-wrapper {
        padding-left: 0px!important;
        padding-right: 0px!important;
      }

      #output.light, #output.dark {
        padding: 0px;
        font-size: 12px!important;
      }
    }
</style>
{% endblock %}


{% block content %}
<div class="nes-container is-rounded with-title" style="padding: 16px 8px;">
  <p class="title">Form</p>
  <div class="ui form">
    <div class="field">
      <label for="jpg" class="header">JPEG</label>
      <button id="uploadJPEGHandle" class="nes-btn" style="margin-right: 16px; margin-left: 10px;">
          Choose
      </button>
      <input id="jpg" name="jpg" type="file" style="display: none">
      <i class="nes-icon removefile hidden close"></i>
    </div>
    <div class="field">
      <label class="header">Background</label>
      <label>
        <input style="margin-left: -16px;" type="radio" class="bg nes-radio" name="bg" value="dark" checked />
        <span>Dark</span>
      </label>
      <label>
        <input type="radio" class="bg nes-radio" name="bg" value="light" />
        <span>Light</span>
      </label>
    </div>
    <div class="field">
      <label class="header">Colors</label>
      <label>
        <input type="radio" class="colors nes-radio" name="colors" value="html" checked />
        <span>HTML</span>
      </label>
      <label>
        <input type="radio" class="colors nes-radio" name="colors" value="ansi" />
        <span>ANSI</span>
      </label>
      <label>
        <input type="radio" class="colors nes-radio" name="colors" value="no"/>
        <span>No</span>
      </label>
    </div>
    <div class="field">
      <label class="header">Width</label>
      <label>
        <input type="radio" class="width nes-radio" name="width" value="80" checked />
        <span>80</span>
      </label>
      <label>
        <input type="radio" class="width nes-radio" name="width" value="60" />
        <span>60</span>
      </label>
      <label>
        <input type="radio" class="width nes-radio" name="width" value="40"/>
        <span>40</span>
      </label>
    </div>
  </div>

  <div class="">
    <button id="upload-button" type="button" class="nes-btn is-disabled">
        <i class="nes-icon coin" style="width: 0; height: 0; transform: scale(1);"></i> 
        <span class="process">Process</span>
    </button>
    <button id="copy-button" type="button" class="nes-btn copy-btn is-success" data-clipboard-text="">Copy</button>
  </div>
 
</div>

<dialog class="nes-dialog is-dark" id="dialog-copy">
  <form method="dialog">
    <p class="title">
      <a href="#" class="nes-badge">
        <span class="is-warning"><i class="nes-icon coin" style="width: 0; height: 0; transform: scale(1);"></i> + 10000</span>
      </a>
    </p>
    <p>Copy successfully.</p>
    <button id="close" class="nes-btn is-primary">Close</button>
  </form>
</dialog>

<div id="output-wrapper" class="nes-container is-rounded with-title" style="margin-top: 30px; text-align: center;">
  <p class="title">Output</p>
  <pre id="output">:) Hello, Please choose and upload an image(*jpeg).</pre>
  <textarea class="hidden" type="text" id="copy-result"></textarea>
</div>

{% endblock %}


{% block footer %}
<script>
var wsScheme = window.location.protocol == "https:" ? "wss" : "ws";
var ws = new ReconnectingWebSocket(wsScheme + "://"+location.host+"/ws");
var filename;

ws.onmessage = function(event) {
    var data = JSON.parse(event.data);

    if (data.type === 'upload') {
      // Upload complate;
      $('#upload-button').removeClass('is-disabled');
      $('#upload-button').addClass('is-primary');
    }

    var ansi_up = new AnsiUp;
    var classNames = data.class || '';
    var output = data.output
    var outputText = data.output

    if ('filename' in data) {
        filename = data.filename || null;
    }

    if (classNames.includes('ansi')) {
        output = ansi_up.ansi_to_html(data.output)
    } 

    if (classNames.includes('html')) {
        outputText = $(output.replace(/\<br\>/g, '\n')).text()
    }

    $('#upload-button .process').html("Process")
    $('#output').html(output);
    $('#copy-result').val(output);

    $('#copy-button').attr('data-clipboard-text', outputText);
    $('#output').attr('class', classNames);

    classNames = classNames.replace('dark', 'is-dark');
    $('#output-wrapper').attr('class', "nes-container is-rounded with-title " + classNames);
};

function sendMessage(event) {
  var bg = $('input.bg:checked').val();
  var width = $('input.width:checked').val();
  var colors = $('input.colors:checked').val();

  ws.send(JSON.stringify({"background": bg, "width": width, colors: colors, filename: filename}))
}


$(document).ready(function() {
  // Initalize dialog
  var dialog = document.querySelector('#dialog-copy');
  dialogPolyfill.registerDialog(dialog);

  var clipboard = new ClipboardJS('.copy-btn');

  clipboard.on('success', function(e) {
    dialog.showModal()
  });


  $('#upload-button').on('click', function () {
    $('#upload-button .process').html("Processing..")
    sendMessage()
  })

  // $('#copy-button').on('change', function () {
  //   let copyResultInput = document.querySelector('#copy-result')
  //   copyResultInput.setAttribute('class', '')    // 不是 hidden 才能複製
  //   copyResultInput.select()

  //   try {
  //     document.execCommand('copy');
  //   } catch (err) {
  //     console.log("copy error")
  //   }
  //   copyResultInput.setAttribute('class', 'hidden')
  //   window.getSelection().removeAllRanges()

  //   dialog.showModal()
  // })


  $('.removefile').on('click', function (e) {
    $('#uploadJPEGHandle').html('Choose')
    $('.removefile').addClass('hidden')
    $('#jpg').val('');

    $('#upload-button').addClass('is-disabled');
    $('#upload-button').removeClass('is-primary');
  })

  $('#jpg').on('change', function (e) {
    var fileName = e.target.files[0].name;
    var fileName = 'image.' + fileName.split('.')[1];
    $('#uploadJPEGHandle').html(fileName)
    $('.removefile').removeClass('hidden');

    // upload file 
    $('#upload-button .process').html("Uploading..")
    var file = $('#jpg')[0].files[0];
    ws.send(file)
  })

  $('#uploadJPEGHandle').on('click', function (e) {
    $('#jpg').trigger("click");
  })

});
</script>
{% endblock %}
